@import "_reset";

@mixin checkbox{
    position: relative;
    margin-left: 35px;
    input[type="checkbox"]{
        display: none;
        &:checked ~ span#check-btn{
            background: url(../image/Group40.svg) center center no-repeat;
            background-size: contain;
        }
    }
    span#check-btn{
        height: 20px;
        width: 20px;
        border: 1px solid #4BC9C9;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        left: -35px;;
        top: 1px;
        cursor: pointer;
    }
}

@mixin btn{
    display: flex;
    justify-content: flex-end;
    margin: 50px 0 30px;
    button{
        width: 155px;
        height: 55px;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
        font-size: 20px;
        color: #5A5E66;
        outline: none;
        &.btn-green{
            background-color: #4BC9C9;
            color: #FFFFFF;
            border: none;
            margin-left: 20px;
            &:hover{
                background-color: rgba(75, 201, 201, 0.89);
            }
        }
        &:active{
            transform: translate(0, 2px);
        }
        &:hover{
            background-color: rgba(223, 221, 221, 0.205);
        }
    }
}

@mixin smallarrow{
    background: url(../image/icon_arrow-2.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    height: 8px;
    width: 15px;
}

#app{
    font-family: 'Noto Sans TC', sans-serif;
    .header{
        .logo{
            width: 230px;
            height: 85px;
            background: url(../image/logo.svg) top center no-repeat;
            background-size: contain;
            margin: 20px 0 0 20px; 
        }
        ul.progress{
            width: 820px;
            height: 54px;
            box-sizing: border-box;
            padding: 0 3% 0 4%;
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            z-index: 5;
            margin: auto;
            border-radius: 4px;
            background-color: #F5F7FA;
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                font-size: 15px;
                font-weight: 500;
                color: #303133;
                position: relative;
                &:nth-child(2), &:nth-child(4){
                    height: 30px;
                    width: 15px;
                    background: url(../image/icon_arrow.svg) center center no-repeat;
                    background-size: cover;
                }
                &:nth-child(1)::before, &:nth-child(3)::before, &:nth-child(5)::before{
                    content: '2';
                    width: 20px;
                    height: 20px;
                    font-size: 14px;
                    border-radius: 50%;
                    border: 1.5px solid #303133;
                    box-sizing: border-box;
                    text-align: center;
                    line-height: 17px;
                    position: absolute;
                    left: -26px;
                    top: -3px;;
                }
                &:nth-child(5)::before{
                    content: '3';
                }
                &.undo{
                    color: #909399;
                    &::before{
                        border-color: #909399;
                    }
                }
                &.done{
                    color: #4BC9C9;
                    &::before{
                        content: '';
                        border: none;
                        background: url(../image/icon_done.svg) center center no-repeat;
                        background-size: contain;
                    }
                }
            }
            @media (max-width: 767px) {
                width: 100%;
                li{
                    &:nth-child(1), &:nth-child(5){
                        color: transparent;
                    }
                    &:nth-child(2){
                        position: absolute;
                        left: 20%;
                    }
                    &:nth-child(4){
                        position: absolute;
                        right: 20%;
                    }
                    &:nth-child(1)::before{
                        left: 0;
                    }
                    &:nth-child(5)::before{
                        left: 60%;
                        color: #909399;
                    }
                    &:nth-child(3){
                        margin-left: 3%;
                    }
                }
                &.alldone{
                    li{
                        &:nth-child(3){
                            color: transparent;
                        }
                        &:nth-child(5){
                            color: #4BC9C9;
                            margin-right: 5%;
                        }
                        &:nth-child(4){
                            right: 42%;
                        }
                        &:nth-child(5)::before{
                            left: -30px;
                        }
                        &:nth-child(3)::before{
                            left: 15px;
                        }
                        &:nth-child(2){
                            left: 25%;
                        }
                        &:nth-child(1)::before{
                            left: 8px;
                        }
                    }
                }
            }
        }
        .pageInfo{
            background: linear-gradient(90deg, #8BC1EF, #82D6D6);
            border-radius: 4px;
            height: 130px;
            padding: 45px 15% 0;
            box-sizing: border-box;
            ul.order{
                height: 60px;
                border-left: 2px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #FFFFFF;
                font-size: 15px;
                .listName{
                    font-size: 36px;
                    margin-left: 20px;
                    line-height: 30px;
                    p{
                        font-size: 15px;
                        margin-top: 3px;
                    }
                }
                .product{
                    margin-left: 20%;
                }
                .total{
                    margin-bottom: 9px;
                    span{
                        font-size: 24px;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }
            }
            @media (max-width: 767px) {
                padding: 45px 0 0;
                position: relative;
                ul.order{
                    border: none;
                    font-size: 14px;
                    flex-direction: column;
                    .listName{
                        font-size: 30px;
                        position: absolute;
                        left: 0;       
                        top: 45px;        
                        line-height: 25px;      
                        p{
                            font-size: 13px;
                            margin-top: 0;
                        }
                    }
                    .product, .freight, .total{
                        width: 42%;
                        position: absolute;
                        top: 45px;
                        span{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    .product{
                        left: 35%;
                    }
                    .freight{
                        left: 55%;
                        top: 73px;
                    }
                    .total{
                        left: 55%;
                        top: 102px;
                        span{
                            font-size: 20px;
                            bottom: -3px;
                        }
                    }
                }
            }
        }
    }
    .body{
        // padding: 0 18%;
        margin-top: 35px;
        #storeIcon{
            background: url(../image/icon_store.svg) center center no-repeat;
            background-size: contain;
        }
        #creditIcon{
            background: url(../image/icon_card.svg) center center no-repeat;
            background-size: contain;
        }
        #linepayIcon{
            background: url(../image/line_pay.svg) center center no-repeat;
            background-size: contain;
        }
        #unionIcon{
            background: url(../image/unionpay.png) center center no-repeat;
            background-size: contain;
        }
        #webatmIcon{
            background: url(../image/icon_atm.svg) center center no-repeat;
            background-size: contain;
        }
        ul.notice{
            font-size: 12px;
            color: #909399;
            list-style: disc;
            list-style: inside;
            height: 140px;
            background: url(../image/icon_notice.svg) right center no-repeat;
            background-size: contain; 
            width: 820px;
            margin: 45px auto 0;
            li{
                line-height: 20px;
                a{
                    text-decoration: none;
                    color: #4BC9C9;
                }
            }
        }
        .form-checkbox{
            @include checkbox;
        }
        @media (max-width:767px) {
            padding: 0 3%;
            margin-top: 15px;
            .form-checkbox.form-checkbox.form-checkbox{
                input[type="checkbox"]{
                    display: none;
                }
            }
            ul.notice.notice.notice.notice{
                width: 100%;
            }
        }


        .selectPayment{
            ul.payment{
                display: flex;
                width: 820px;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto;
                li{
                    height: 120px;
                    width: 400px;
                    border: 1px solid #DCDFE6;
                    border-radius: 4px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    padding: 0 0 0 4%;
                    box-sizing: border-box;
                    font-size: 15px;
                    a.select{
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        border: 1px solid #DCDFE6;
                        border-radius: 50%;
                        box-sizing: border-box;
                    }
                    div{
                        width: 70px;
                        height: 50px;
                        margin: 0 25px;
                    }
                    h3{
                        a{
                            display: block;
                            text-decoration: none;
                            color: #909399;
                            width: 190px;
                            margin-top: 6px;
                        }
                    }
                    &.selected{
                        background-color: #F5F7FA;
                        border: 1px solid #4BC9C9;
                        a.select{
                            border: none;
                            background: url(../image/Group40.svg) center center no-repeat;
                            background-size: cover;
                        }
                    }
                    &.unselect.unselect.unselect{
                        color: #DCDFE6;
                        cursor: not-allowed;
                        a{
                            color: #DCDFE6;
                            cursor: not-allowed;
                        }
                    }
                }
            }
            div{
                @include btn;
                justify-content: center;
                margin: 50px 0 40px 35%;
            }
            @media (max-width:767px) {
                ul.payment{
                    flex-wrap: nowrap;
                    flex-direction: column;
                    width: 100%;
                    li{
                        width: 100%;
                    }
                }
                div{
                    justify-content: center;
                    margin: 100px 0 40px;
                }
            }
        }
        .listData{
            div.paymentTitle{
                text-align: center;
                margin-bottom: 45px;
                h2{
                    display: inline-block;
                    color: #606266;
                    font-size: 20px;
                    margin-left: 10px;
                    position: relative;
                    span{
                        width: 35px;
                        height: 40px;
                        position: absolute;
                        left: -45px;
                        top: -10px;
                        &#linepayIcon{
                            width: 65px;
                            height: 18px;
                            left: -75px;
                            top: 2px;
                        }
                    }
                }
                h3{
                    font-size: 12px;
                    color: #909399;
                    text-align: center;
                    margin-top: 15px;
                    margin-left: -58px;
                }
                @media (max-width:767px) {
                    margin: 30px 0 35px;
                    h2{
                        margin-left: 13%;
                        span{
                            left: -50px;
                        }
                        &.linepaytitle{
                            margin-left: 19%;
                        }
                    }
                    h3{
                        margin-left: 0;
                    }
                }
            }
            form{
                // 超商取貨付款
                .paybyStore{
                    margin: 0 auto;
                    width: 820px;
                    ul{
                        display: flex;
                        align-items: center;
                        .convenienceIcon{
                            background: url(../image/logo_family.png) center center no-repeat;
                            background-size: contain;
                            width: 130px;
                            height: 25px;
                            margin-left: 25px;
                        }
                        li{
                            position: relative;
                            a{
                                text-decoration: none;
                                color: #909399;
                                font-size: 15px;
                            }
                            &.selectBranch, &.selectCommonly{
                                margin-left: 35px;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    left: -20px;
                                    width: 16px;
                                    height: 16px;
                                    cursor: pointer;
                                }
                            }
                            &.selectBranch{
                                margin-left: auto;
                                &::before{
                                    background: url(../image/icon_add.svg) center center no-repeat;
                                    background-size: contain;
                                }
                            }
                            &.selectCommonly{
                                &::before{
                                    background: url(../image/icon_like.svg) center center no-repeat;
                                    background-size: contain;
                                }
                                a{
                                    color: #4BC9C9;
                                }
                                ul{
                                    position: absolute;
                                    top: 35px;
                                    left: -20px;
                                    width: 207px;
                                    border: 1px solid #E4E7ED;
                                    box-shadow: 0 2px 12px #0000001c;
                                    background-color: white;
                                    border-radius: 4px;
                                    flex-direction: column;
                                    padding: 10px 5px;
                                    box-sizing: border-box;
                                    &::before{
                                        content: '';
                                        @include smallarrow;
                                        transform: rotate(180deg);
                                        filter: brightness(200%) drop-shadow(0 1px 0 #E4E7ED) drop-shadow(0 1px 0px #0000001c);
                                        top: -7px;
                                        left: 50px;
                                    }
                                    li{
                                        height: 42px;
                                        padding: 10px 5px;
                                        cursor: pointer;
                                        h3{
                                            font-size: 15px;
                                            color: #606266;
                                        }
                                        p{
                                            font-size: 12px;
                                            color: #909399;
                                            margin-top: 5px;
                                        }
                                        &:hover, &:active{
                                            background-color: #F5F7FA;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div{
                        width: 820px;
                        height: 150px;
                        background-color: #F5F7FA;
                        border-left: 2px solid #4BC9C9;
                        box-shadow: inset 0 -30px 0 white;
                        margin: 15px 0 20px;
                        font-size: 15px;
                        color: #606266;
                        padding-left: 35px;
                        box-sizing: border-box;
                        ul{
                            height: 60px;
                            box-sizing: border-box;
                            &:nth-child(1){
                                border-bottom: 1px solid #DCDFE6;
                                padding-top: 15px;
                                li{
                                    position: relative;
                                    a{
                                        color: #4BC9C9;
                                        &::before{
                                            content: '';
                                            width: 15px;
                                            height: 15px;
                                            background: url(../image/icon_star.svg) center center no-repeat;
                                            background-size: contain;
                                            position: absolute;
                                            left: -20px;
                                            top: -2px;
                                        }
                                    }
                                }
                            }
                            &:nth-child(2){
                                padding-bottom: 15px;
                            }
                            li{
                                &:nth-child(2){
                                    margin-left: 125px;
                                }
                                &:nth-child(3){
                                    margin-left: 75px;
                                }
                            }
                        }
                    }
                    @media (max-width:767px) {
                        width: 100%;
                        >ul{
                            position: relative;
                            li{
                                &.selectBranch, &.selectCommonly{
                                    position: absolute;
                                    top: 50px;
                                    right: 13%;
                                }
                                &.selectBranch{
                                    left: 13%;
                                }
                                &.selectCommonly{
                                    ul{
                                        left: -100%;
                                        z-index: 10;
                                        &::before{
                                            left: 140px;
                                        }
                                    }
                                }
                            }
                        }
                        div{
                            width: 100%;
                            box-shadow: inset 0 40px 0 white, inset 0 -20px 0 white;
                            padding: 40px 10px 20px;
                            height: auto;
                            ul{
                                position: relative;
                                flex-direction: column;
                                align-items: flex-start;
                                height: 75px;
                                width: 100%;
                                &:nth-child(1){
                                    padding: 0;
                                }
                                li{
                                    &:nth-child(1){
                                        margin-top: 18px;
                                    }
                                    &:nth-child(2){
                                        margin: 12px 0 0;
                                    }
                                    &:nth-child(3){
                                        position: absolute;
                                        bottom: 15px;
                                        right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .buyer, .recipient, .paybyCredit, .paybywebatm{
                    width: 820px;
                    margin: 0 auto;
                    div{
                        height: 185px;
                        border-left: 2px solid #4BC9C9;
                        margin: 20px 0;
                        padding-left: 35px;
                        box-sizing: border-box;
                        label{
                            font-size: 15px;
                            color: #606266;
                            position: relative;
                            input, select{
                                height: 40px;
                                width: 280px;
                                border-radius: 4px;
                                outline: none;
                                border: 1px solid #DCDFE6;
                                font-size: 15px;
                                padding-left: 15px;
                                box-sizing: border-box;
                                margin-left: 45px;
                                &.is-invalid{
                                    border-color: #FA5555;
                                }
                                &.is-valid{
                                    border-color: #4BC9C9;
                                }
                            }
                            em{
                                font-size: 12px;
                                color: #FA5555;
                                position: absolute;
                                left: 85px;
                                bottom: -25px;
                            }
                            &.form-phone{
                                margin-left: 40px;
                                select{
                                    width: 75px;
                                    margin-left: 15px;
                                    background-color: #FFFFFF;
                                    appearance: none;
                                    background: url(../image/icon_arrow-2.svg) right center no-repeat;
                                    background-position: 55px;
                                    // color: #909399;
                                }
                                input{
                                    width: 230px;
                                    margin-left: 15px;
                                }
                                em{
                                    left: 150px;
                                }
                            }
                            &.form-address{
                                input{
                                    margin-top: 25px;
                                    &:nth-child(1){
                                        width: 90px;
                                    }
                                    &:nth-child(2){
                                        width: 587px;
                                        margin-left: 15px;
                                    }
                                }
                                em{
                                    left: 200px;
                                }
                            }
                            &.form-email{
                                input{
                                    margin: 25px 0 0 35px;
                                    width: 696px;
                                }
                            }
                        }
                    }
                    @media (max-width:767px) {
                        width: 100%;
                        div{
                            display: flex;
                            flex-direction: column;
                            padding-left: 15px;
                            padding-top: 20px;
                            height: auto;
                            label{
                                margin-bottom: 10px;
                                input, select{
                                    width: 100%;
                                    display: block;
                                    margin: 13px 0 0;
                                }
                                select{
                                    margin-bottom: 10px;
                                }
                                &.form-phone{
                                    margin-left: 0;
                                    margin-top: 20px;
                                    input, select{
                                        margin-left: 0;
                                    }
                                    input{
                                        width: 100%;
                                    }
                                }
                                &.form-address{
                                    margin: 5px 0;
                                    input{
                                        &:nth-child(1){
                                            margin: 13px 0 10px;
                                        }
                                        &:nth-child(2){
                                            margin: 0 0 15px;
                                            width: 100%;
                                        }
                                    }
                                }
                                &.form-email{
                                    input{
                                        width: 100%;
                                        margin-left: 0;
                                        margin-top: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
                .recipient{
                    div{
                        height: auto;
                        padding-top: 5px;
                        .form-checkbox{
                            span.arrow{
                                height: 15px;
                                width: 20px;
                                position: absolute;
                                right: -25px;
                                top: 3px;
                                background: url(../image/icon_arrow.svg) center center no-repeat;
                                background-size: contain;
                                transform: rotate(90deg);
                            }
                            input[type="checkbox"]:checked ~ span.arrow{
                                transform: rotate(270deg);
                            }
                        }
                        .form-address.form-address, .form-email.form-email, .form-name.form-name{
                            input{
                                margin-top: 20px;
                            }
                        }
                        @media (max-width:767px) {
                            padding-top: 10px;
                            .form-checkbox{
                                span.arrow{
                                    left: 38%;
                                }
                                span#check-btn{
                                    top: -2px;
                                }
                            }
                        }
                    }
                }
                ul.notice{
                    height: 120px;
                    width: 820px;
                    margin-left: auto;
                    margin-right: auto;
                    li{
                        &:nth-child(4){
                            color: black;
                        }
                        &:nth-child(5){
                            list-style: none;
                            font-size: 15px;
                            color: #606266;
                            margin-top: 10px;
                            .form-checkbox{
                                span#check-btn{
                                    width: 20px;
                                    height: 20px;
                                    border-color: #FA5555;
                                }
                                span::after{
                                    content: '請確認';
                                    position: absolute;
                                    color: #FA5555;
                                    right: -175px;
                                    top: -1px;
                                }
                                input:checked ~ span#check-btn{
                                    border: none;
                                    &::after{
                                        content: '';
                                    }
                                }
                            }
                        }
                    }
                    @media (max-width: 767px) {
                        margin-top: 10px;
                    }
                }
                .buttonWrap{
                    @include btn;
                    justify-content: center;
                    margin: 50px 0 40px 35%;
                    @media (max-width:767px) {
                        justify-content: center;
                        margin: 100px 0 40px;
                    }
                }
                // 信用卡付款
                .paybyCredit{
                    >ul{
                        display: flex;
                        #visa, #master, #jcb{
                            height: 24px;
                            width: 35px;
                            margin-left: 12px;
                            border: 1px solid #DCDFE6;
                            margin-top: -8px;
                        }
                        #visa{
                            background: url(../image/card_1.jpg) center center no-repeat;
                            background-size: contain;
                        }
                        #master{
                            background: url(../image/card_2.png) center center no-repeat;
                            background-size: contain;
                        }
                        #jcb{
                            background: url(../image/card_3.png) center center no-repeat;
                            background-size: contain;
                        }
                    }
                    div{
                        height: auto;
                        padding-bottom: 20px;
                        label{
                            position: relative;
                            input{
                                margin-left: 16px;
                            }
                            &:nth-child(4){
                                margin-left: 40px;
                                input{
                                    margin-top: 25px;
                                    margin-left: 15px;
                                    width: 307px;
                                }
                            }
                            &:nth-child(6){
                                input{
                                    margin: 25px 0 0 45px;
                                    width: 695px;
                                }
                            }
                            span.question{
                                height: 15px;
                                width: 15px;
                                border-radius: 50%;
                                color: #4BC9C9;
                                border: 2px solid #4BC9C9;
                                text-align: center;
                                font-size: 10px;
                                line-height: 15px;
                                position: absolute;
                                right: 18px;
                                top: 2px;
                                cursor: pointer;
                                font-weight: 900;
                                &:hover ~ ul{
                                    display: flex;
                                }
                            }
                            ul.creditInfo{
                                width: 215px;
                                height: 85px;
                                position: absolute;
                                background-color: #F5F7FA;
                                border: 1px solid #E4E7ED;
                                box-shadow: 0 2px 12px #0000000c;
                                z-index: 5;
                                right: -85px;
                                top: -90px;
                                // display: flex;
                                display: none;
                                align-items: center;
                                justify-content: center;
                                box-sizing: border-box;
                                padding: 0 10px;
                                border-radius: 4px;
                                li{
                                    color: #606266;
                                    font-size: 12px;
                                    &:nth-child(1){
                                        width: 120px;
                                        line-height: 16px;
                                    }
                                    &:nth-child(2){
                                        width: 67px;
                                        height: 45px;
                                        margin-left: auto;
                                    }
                                    &#creditImg1{
                                        background: url(../image/qa_card_date.svg) center center no-repeat;
                                        background-size: contain;
                                    }
                                    &#creditImg2{
                                        background: url(../image/qa_card.svg) center center no-repeat;
                                        background-size: contain;
                                    }
                                }
                                &::before{
                                    content: '';
                                    @include smallarrow;
                                    height: 5px;
                                    bottom: -4px;
                                    filter: brightness(168%) drop-shadow(0 1px 0 #E4E7ED) drop-shadow(0 1px 0px #0000001c);
                                }
                            }
                        }
                    }
                    @media (max-width:767px) {
                        >ul{
                            #visa{
                                margin-left: 14%;
                            }
                            #master, #jcb{
                                margin-left: 1.5%;
                            }
                        }
                        div{
                            label{
                                input{
                                    margin-left: 0;
                                }
                                &:nth-child(3){
                                    margin-top: 3px;
                                }
                                &:nth-child(4){
                                    margin-left: 0;
                                    margin-top: 22px;
                                    input{
                                        margin-top: 13px;
                                        margin-left: 0;
                                        width: 100%;
                                    }
                                }
                                &:nth-child(6){
                                    margin-top: 5px;
                                    input{
                                        margin: 13px 0 0 0;
                                        width: 100%;
                                    }
                                }
                                span.question{
                                    top: 38px;
                                    right: 15px;
                                }
                                ul.creditInfo{
                                    right: 5px;
                                    top: 80px;
                                    width: 250px;
                                    li{
                                        &:nth-child(2){
                                            margin-left: 8%;
                                        }
                                    }
                                    &::before{
                                        top: -4px;
                                        right: 10px;
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                    }
                }
                // Web ATM 付款
                .paybywebatm{
                    div{
                        height: auto;
                        padding-bottom: 5px;
                        label{
                            select{
                                margin-left: 12px;
                                background: white;
                                box-sizing: border-box;
                                padding-left: 20px;
                                appearance: none;
                                background: url(../image/icon_arrow-2.svg) right center no-repeat;
                                background-position: 260px;
                            }
                        }
                    }
                    ul.atmNotice{
                        font-size: 12px;
                        color: #909399;
                        list-style: disc inside;
                        margin: 15px 0 0 100px;
                        li{
                            line-height: 18px;
                        }
                    }
                    @media (max-width: 767px) {
                        div{
                            padding-bottom: 20px;
                            label{
                                select{
                                    margin-left: 0;
                                    background-position: 95%;
                                }
                            }
                            ul.atmNotice{
                                margin-left: 18px;
                                margin-top: 0;
                                list-style: outside;
                            }
                        }
                    }
                }
            }
        }
        .orderDone{
            color: #606266;
            >h2{
                font-size: 36px;
                text-align: center;
                margin-top: 50px;
                line-height: 54px;
            }
            >p{
                text-align: center;
                line-height: 20px;
                margin-top: 15px;
            }
            >span{
                display: block;
                width: 160px;
                height: 140px;
                background: url(../image/img_complete.svg) center center no-repeat;
                background-size: contain;
                margin: 30px auto 25px;
                transform: translateX(-20px);
            }
            .listWrap{
                background-color: #F5F7FA;
                height: 477px;
                font-size: 15px;
                box-sizing: border-box;
                padding: 20px 35px;
                width: 820px;
                margin: 0 auto;
                h3{
                    color: black;
                    font-size: 16px;
                    margin-bottom: 5px;
                    position: relative;
                    span{
                        height: 24px;
                        width: 133px;
                        background: url(../image/logo_family.png) center center no-repeat;
                        background-size: contain;
                        position: absolute;
                        left: 80px;
                        top: -3px;
                    }
                }
                .listInfo{
                    width: 750px;
                    height: 234px;
                    display: grid;
                    grid-template-rows: repeat(5, 20%);
                    margin-bottom: 10px;
                    ul{
                        display: grid;
                        grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
                        align-items: center;
                        &:nth-child(1){
                            border-bottom: 1px solid #DCDFE6;
                        }
                        &:nth-last-child(1){
                            border-top: 1px solid #DCDFE6;
                        }
                        li{
                            &:nth-last-child(2){
                                text-align: right;
                                padding-right: 20px;
                            }
                            &:nth-last-child(1){
                                text-align: right;
                                padding-right: 20px;
                            }
                        }
                    }
                }
                .destinationInfo{
                    ul{
                        display: flex;
                        align-items: center;
                        height: 35px;
                        &:nth-child(2){
                            border-top: 1px solid #DCDFE6;
                            margin-bottom: 25px;
                        }
                        li{
                            &:nth-child(2){
                                margin-left: 125px;
                            }
                        }
                    }
                }
                .payInfo{
                    margin-top: 16px;
                    ul{
                        display: flex;
                        li{
                            margin-left: 40px;
                            &:nth-child(1){
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            .buttonWrap{
                @include btn;
                justify-content: center;
            }
            @media (max-width:767px) {
                >h2{
                    margin-left: 22px;
                }
                >span{
                    transform: translateX(-3px);
                }
                .listWrap{
                    height: auto;
                    padding: 20px 10px 40px;
                    width: 100%;
                    .listInfo{
                        width: 100%;
                        height: 250px;
                        ul{
                            grid-template-columns: 2fr 1fr 1fr 0fr 2fr;
                            justify-items: center;
                            position: relative;
                            &:nth-last-child(1){
                                li:nth-last-child(2){
                                    position: absolute;
                                    left: 46.8%;
                                }
                                li:nth-last-child(1){
                                    position: absolute;
                                    left: 78%;
                                }
                            }
                            &:nth-last-child(2){
                                li:nth-last-child(2){
                                    position: absolute;
                                    top: 15px;
                                    left: 56.2%;
                                }
                                li:nth-last-child(1){
                                    position: absolute;
                                    top: 15px;
                                    left: 81.5%;
                                }
                            }
                            li{
                                &:nth-last-child(1), &:nth-last-child(2){
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                    .destinationInfo{
                        ul{
                            height: 50px;
                            padding-left: 3px;
                            li{
                                &:nth-child(2){
                                    margin-left: 15%;
                                    width: 60%;
                                }
                            }
                        }
                    }
                    .payInfo.payInfo{
                        ul{
                            flex-direction: column;
                            li{
                                margin-left: 3px;
                                margin-top: 15px;
                                &:nth-child(1){
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
                .buttonWrap{
                    justify-content: center;
                    margin: 50 0 40px;
                }
            }
        }
    }
}